.schedule-body {
    margin: 50px 0 25px 0;
    width: 100px;
    height: 100px;

    background-color: red;
}

#schedules-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}